.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.w-full {
  width: 100%;
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}
